@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
  background-image: url("/background.png");
  background-repeat: no-repeat;
  background-size: cover; /* Change contain to cover */
  background-position: center;
}

.card {
  background-color: white !important;
}
.notice {
  background-color: #f3f4f6cc !important;
}
